//Universal styles.
///////////////////
* {
font-family: PT Sans, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


//Firts yellow block.
/////////////////////
.firstBlock {
  padding: 8% 2% 0 2%;
  height: 80%;
  width: 100vw;
  background-color: #fcdb00;
}

//Main Navigation menu.
///////////////////////
.navMenu {
  max-width: 940px;
  height: 60px;
  margin: 0 auto;
  padding: 1%;
}

.navMenu::after {
  clear: both;
  content: '';
  display: block;
}

.maintitle {
  font-size: 30px;
  width: 20%;
  margin: 0;
  float: left;
}

.maintitle::before {
  $url:'../assets/print.png';
  content: '';
  background-image: url($url);
  height: 48px;
  width: 48px;
  display: inline-block;
}

.tabsMenu {
  display: inline-block;
  float: right;
  width: 50%;
  padding: 0;
  margin: 0;
  height: 60px;
  vertical-align: baseline;
}

.tabsMenu li {
  font-size: 22px;
  display: inline;
  list-style: none;
  float: right;
  margin: 0 37.5px 0;
}

//Information block.
////////////////////
.contentBlock {
  max-width: 940px;
  margin: 0 auto;
}

.preContentInfo {
  margin: 13.5px 0 13.5px 0;
  font-size: 20px;
  width: 58%;
}

.contentInfo {
  font-size: 16px;
  margin: 13.5px 0 13.5px 0;
  width: 75%;
}

.contentBlock::after {
  clear: both;
  content: '';
  display: block;
}

.subTitle {
  font-weight: bold;
  font-size: 32px;
  width: 58%;
}

.infoBlock {
  width: 60%;
  float: left;
}

.mediaBlock {
  width: 40%;
  float: right;
  text-align: center;
}

//Software Icons.
/////////////////
.iconList {
  list-style: none;
  display: inline-block;
  margin: 13.5px 20px 0;
}

//SlideShow Circles Status.
///////////////////////////
.slideShowStatus {
  width: 20%;
  margin: 45px auto;
  text-align: center;
}

.circleSlideShow {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color:white;
  border-radius: 50%;
}

.circleSlideShow:hover {
  background-color: black;
  transition: background-color 0.8s;
}

//Second Block.
///////////////
.secondBlock {
  padding: 8% 2% 8% 2%;
  height: 80%;
  width: 100vw;
  background-color: #ffffff;
}

//Second Content Block.
///////////////////////
.secondContentBlock {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.subTitleFeatures {
  font-weight: bold;
  font-size: 32px;
  width: 100%;
}

.preContentFeatures {
  margin: 0 auto;
  font-size: 20px;
  width: 80%;
}

//Features content information.
.infoFeatures {
  max-width: 940px;
  margin:0 auto;
}

.firstRow {
  display: table;
  margin: 0 auto;
}

.firstFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0;
}

.firstFeature::before {
  $url:'../assets/featureCell.png';
  content: '';
  background-image: url($url);
  height: 40px;
  width: 35px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.featureTitle {
  display: inline-block;
  margin: 0;
  font-size: 22px;
}

.featureParagraph {
  display: inline-block;
  width: 200px;
  color: #989898;
  font-size: 16px;
}

.paragraphFirstWrapper::before {
  content: '';
  width: 35px;
  height: 100%;
  display: inline-block;
}

.paragraphSecondWrapper::before {
  content: '';
  width: 45px;
  height: 100%;
  display: inline-block;
}

.secondFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0;
}

.secondFeature::before {
  $url:'../assets/featureLemon.png';
  content: '';
  background-image: url($url);
  height: 44px;
  width: 45px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.thirdFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0;
}

.thirdFeature::before {
  $url:'../assets/featureFolder.png';
  content: '';
  background-image: url($url);
  height: 40px;
  width: 49px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.paragraphThirdWrapper::before {
  content: '';
  width: 49px;
  height: 100%;
  display: inline-block;
}

.secondRow {
  display: table;
  margin: 0 auto;
}

.fourthFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0;
}

.fourthFeature::before {
  $url:'../assets/featureCode.png';
  content: '';
  background-image: url($url);
  height: 39px;
  width: 54px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.paragraphFourthWrapper::before {
  content: '';
  width: 54px;
  height: 100%;
  display: inline-block;
}

.fifthFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0;
}

.fifthFeature::before {
  $url:'../assets/featureMessage.png';
  content: '';
  background-image: url($url);
  height: 40px;
  width: 54px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.paragraphFifthWrapper::before {
  content: '';
  width: 54px;
  height: 100%;
  display: inline-block;
}

.sixthFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  padding: 0;
}

.sixthFeature::before {
  $url:'../assets/featureFlag.png';
  content: '';
  background-image: url($url);
  height: 45px;
  width: 38px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.paragraphSixthWrapper::before {
  content: '';
  width: 38px;
  height: 100%;
  display: inline-block;
}


//Thrid Block
/////////////
.thirdBlock {
  padding: 8% 2% 0% 2%;
  height: 80%;
  width: 100vw;
  background-color: #010101;
}

.subTitleFooter {
  font-weight: bold;
  font-size: 32px;
  width: 100%;
  color: #fcdb00;
}

.preContentFooter {
  margin: 0 auto;
  font-size: 20px;
  width: 80%;
  color: #898989;
}

.thirdContentBlock {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

.formBlock {
  max-width: 940px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.inputEmailBar {
 width: 79%;
 display: inline-block;
 height: 50px;
}

.sendMessageBtn {
  width: 19%;
  height: 50px;
  display: inline-block;
}

