* {
  font-family: PT Sans, sans-serif; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.firstBlock {
  padding: 8% 0;
  background-color: #fcdb00; }

.navMenu {
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 8%; }

.navMenu::after {
  clear: both;
  content: '';
  display: block; }

.maintitle {
  font-size: 30px;
  width: 20%;
  margin: 0;
  float: left; }

.navMenu::before {
  content: '';
  background-image: url("../assets/print.png");
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 10px; }

.tabsMenu {
  float: right;
  width: 31%;
  padding: 0;
  margin: 0; }

.tabsMenu a {
  font-size: 22px;
  display: inline;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  .tabsMenu a:hover {
    color: white;
    transition: color 0.5s; }

.tabsMenu a + a {
  margin-left: 37.5px; }

.contentBlock {
  max-width: 940px;
  height: 480px;
  margin: 0 auto;
  position: relative; }

.preContentInfo {
  margin: 13.5px 0 13.5px 0;
  font-size: 20px;
  width: 58%; }

.contentInfo {
  font-size: 16px;
  margin: 13.5px 0 13.5px 0;
  width: 75%; }

.contentBlock::after {
  clear: both;
  content: '';
  display: block; }

.subTitle {
  font-weight: bold;
  font-size: 32px;
  width: 58%; }

.infoBlock {
  width: 60%;
  float: left; }

.mediaBlock {
  width: 326px;
  float: right;
  text-align: center;
  overflow: hidden; }

#imgHover:hover {
  right: 325px;
  cursor: pointer;
  position: relative; }

.firstSlideShow {
  position: absolute;
  opacity: 0;
  z-index: 0; }

.secondSlideShow {
  position: absolute;
  opacity: 1;
  z-index: 1; }

.thirdSlideShow {
  position: absolute;
  opacity: 0;
  z-index: 0; }

.iconList {
  list-style: none;
  display: inline-block;
  margin: 13.5px 20px 0; }

.slideShowStatus {
  width: 20%;
  margin: 45px auto;
  text-align: center; }

.circleSlideShow {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%; }

.circleSlideShow:hover {
  background-color: black;
  transition: background-color 0.8s; }

.secondBlock {
  padding: 8% 2% 8% 2%;
  height: 80%;
  width: 100vw;
  background-color: #ffffff; }

.secondContentBlock {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px; }

.subTitleFeatures {
  font-weight: bold;
  font-size: 32px;
  width: 100%; }

.preContentFeatures {
  margin: 0 auto;
  font-size: 20px;
  width: 80%; }

.infoFeatures {
  max-width: 940px;
  margin: 0 auto; }

.firstRow {
  display: table;
  margin: 0 auto; }

.firstFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0; }

.firstFeature::before {
  content: '';
  background-image: url("../assets/featureCell.png");
  height: 40px;
  width: 35px;
  display: inline-block;
  position: relative;
  top: 20px; }

.featureTitle {
  display: inline-block;
  margin: 0;
  font-size: 22px;
  margin-left: 14px; }

.featureParagraph {
  display: inline-block;
  width: 200px;
  color: #989898;
  font-size: 16px;
  margin-left: 14px; }

.paragraphFirstWrapper::before {
  content: '';
  width: 35px;
  height: 100%;
  display: inline-block; }

.paragraphSecondWrapper::before {
  content: '';
  width: 45px;
  height: 100%;
  display: inline-block; }

.secondFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0; }

.secondFeature::before {
  content: '';
  background-image: url("../assets/featureLemon.png");
  height: 44px;
  width: 45px;
  display: inline-block;
  position: relative;
  top: 20px; }

.thirdFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0; }

.thirdFeature::before {
  content: '';
  background-image: url("../assets/featureFolder.png");
  height: 40px;
  width: 49px;
  display: inline-block;
  position: relative;
  top: 20px; }

.paragraphThirdWrapper::before {
  content: '';
  width: 49px;
  height: 100%;
  display: inline-block; }

.secondRow {
  display: table;
  margin: 0 auto; }

.fourthFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0; }

.fourthFeature::before {
  content: '';
  background-image: url("../assets/featureCode.png");
  height: 39px;
  width: 54px;
  display: inline-block;
  position: relative;
  top: 20px; }

.paragraphFourthWrapper::before {
  content: '';
  width: 54px;
  height: 100%;
  display: inline-block; }

.fifthFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  margin: 10px;
  padding: 0; }

.fifthFeature::before {
  content: '';
  background-image: url("../assets/featureMessage.png");
  height: 40px;
  width: 54px;
  display: inline-block;
  position: relative;
  top: 20px; }

.paragraphFifthWrapper::before {
  content: '';
  width: 54px;
  height: 100%;
  display: inline-block; }

.sixthFeature {
  width: 28%;
  height: auto;
  display: table-cell;
  padding: 0; }

.sixthFeature::before {
  content: '';
  background-image: url("../assets/featureFlag.png");
  height: 45px;
  width: 38px;
  display: inline-block;
  position: relative;
  top: 20px; }

.paragraphSixthWrapper::before {
  content: '';
  width: 38px;
  height: 100%;
  display: inline-block; }

.thirdBlock {
  padding: 8% 2% 8% 2%;
  height: 80%;
  width: 100vw;
  background-color: #010101; }

.subTitleFooter {
  font-weight: bold;
  font-size: 32px;
  width: 100%;
  color: #fcdb00; }

.preContentFooter {
  margin: 0 auto;
  font-size: 20px;
  width: 80%;
  color: #898989; }

.thirdContentBlock {
  max-width: 940px;
  margin: 0 auto 22px;
  text-align: center; }

.formBlock {
  max-width: 752px;
  height: 50px;
  margin: 22px auto;
  text-align: center; }

.inputEmailBar {
  width: 78%;
  height: 50px;
  margin-right: 12px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  font-size: 20px; }

.sendMessageBtn {
  font-size: 16px;
  width: 17%;
  height: 50px;
  margin-left: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fcdb00;
  border-radius: 10px;
  border: none; }
  .sendMessageBtn:hover {
    background-color: black;
    color: #fcdb00;
    transition: background-color 0.8s, color 0.5s;
    border: 2px solid #fcdb00; }

.imgSprites {
  width: 277px;
  margin: 0 auto; }

.facebookIcon {
  height: 36px;
  width: 36px;
  background-image: url("../assets/facebookIcon.png");
  content: '';
  display: inline-block;
  margin: 15px;
  cursor: pointer; }
  .facebookIcon:hover {
    opacity: 0.7; }

.twitterIcon {
  height: 36px;
  width: 36px;
  background-image: url("../assets/twitterIcon.png");
  content: '';
  display: inline-block;
  margin: 15px;
  cursor: pointer; }
  .twitterIcon:hover {
    opacity: 0.7; }

.googleIcon {
  height: 36px;
  width: 36px;
  background-image: url("../assets/googleIcon.png");
  content: '';
  display: inline-block;
  margin: 15px;
  cursor: pointer; }
  .googleIcon:hover {
    opacity: 0.7; }

.pinterestIcon {
  height: 36px;
  width: 36px;
  background-image: url("../assets/pinterestIcon.png");
  content: '';
  display: inline-block;
  margin: 15px;
  cursor: pointer; }
  .pinterestIcon:hover {
    opacity: 0.7; }

.footerBlock {
  color: rgba(255, 255, 255, 0.664);
  width: 890px;
  padding-bottom: 8%;
  margin: 0 auto; }

.footerBlock::before {
  clear: both;
  content: '';
  display: inline-block; }

.addressBlock {
  width: 185px;
  padding: 0 13px;
  float: left; }
  .addressBlock p {
    cursor: pointer; }
    .addressBlock p:hover {
      color: white; }

.firstInfoFooterBlock {
  width: 80px;
  margin: 0 43px;
  float: left; }
  .firstInfoFooterBlock p {
    cursor: pointer; }
    .firstInfoFooterBlock p:hover {
      color: white; }

.secondInfoFooterBlock {
  width: 80px;
  margin: 0 43px;
  float: left; }
  .secondInfoFooterBlock p {
    cursor: pointer; }
    .secondInfoFooterBlock p:hover {
      color: white; }

.thirdInfoFooterBlock {
  width: 80px;
  margin: 0 42px;
  float: left; }
  .thirdInfoFooterBlock p {
    cursor: pointer; }
    .thirdInfoFooterBlock p:hover {
      color: white; }

.fourthInfoFooterBlock {
  width: 80px;
  margin: 0 42px;
  float: left; }
  .fourthInfoFooterBlock p {
    cursor: pointer; }
    .fourthInfoFooterBlock p:hover {
      color: white; }

/*# sourceMappingURL=style.css.map */
