@media only screen and (max-width: 700px) {
  .tabletTinyOneWrapper img {
    display: none;
  }

  .secondFeature, .fifthFeature {
    display: none;
  }

  .paragraphThirdWrapper {
    margin-left: 0;
  }

  .thirdBlock {
    padding: 8% 2% 40% 2%;
  }
}
