@media only screen and (max-width: 770px) {
  .firstBlock {
    padding: 8% 20px; }

  .navMenu {
    padding-bottom: 12%; }

  .maintitle {
    width: 81%; }

  .imgSpritesHeader {
    display: inline-block;
    width: 181px;
    margin: 0 auto;
    float: right; }

  .tabsMenu a + a {
    margin: 0; }

  .tabsMenu {
    float: left;
    width: auto; }

  .tabsMenu a {
    display: none;
    float: left; }

  .burgerBtn {
    display: inline-block; }

  .burgerWrapper {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    width: 20px;
    height: 20px; }
    .burgerWrapper:hover > .tabsMenu > a {
      display: inline-block; }

  .logoWrapper {
    width: 200px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0; }

  .facebookHeaderIcon {
    height: 20px;
    width: 20px;
    background-image: url("../assets/facebookIconB&WFixed.png");
    content: '';
    display: inline-block;
    margin: 11px;
    cursor: pointer; }
    .facebookHeaderIcon:hover {
      opacity: 0.7; }

  .twitterHeaderIcon {
    height: 20px;
    width: 20px;
    background-image: url("../assets/twitterIconB&WFixed.png");
    content: '';
    display: inline-block;
    margin: 11px;
    cursor: pointer; }
    .twitterHeaderIcon:hover {
      opacity: 0.7; }

  .googleHeaderIcon {
    height: 20px;
    width: 20px;
    background-image: url("../assets/googleIconB&WFixed.png");
    content: '';
    display: inline-block;
    margin: 11px;
    cursor: pointer; }
    .googleHeaderIcon:hover {
      opacity: 0.7; }

  .pinterestHeaderIcon {
    height: 20px;
    width: 20px;
    background-image: url("../assets/pinterestIconB&WFixed.png");
    content: '';
    display: inline-block;
    margin: 11px;
    cursor: pointer; }
    .pinterestHeaderIcon:hover {
      opacity: 0.7; }

  .contentBlock {
    height: 300px;
    padding-top: 100px; }

  .mediaBlock {
    display: none; }

  .infoBlock {
    width: 100%;
    margin: 0 auto; }

  .subTitle {
    width: 326px;
    margin: 0 auto; }

  .preContentInfo {
    width: 90%;
    text-align: center;
    margin: 0 auto; }

  .contentInfo {
    display: none; }

  .iconList {
    border: 3px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 1%;
    text-align: center; }
    .iconList:hover {
      border: 2px solid black; }

  .softwareIcons {
    width: 350px;
    padding: 0;
    margin: 0 auto;
    text-align: center; }

  .secondSlideShow {
    left: 0;
    right: 0; }

  .iconItself {
    padding: 2px; }

  .secondBlock {
    padding: 8% 2% 20% 2%; }

  .paragraphThirdWrapper {
    margin-left: 4%; }

  .thirdFeature > .featureTitle {
    margin-left: 8%; }

  .firstFeature::before {
    display: none; }

  .secondFeature::before {
    display: none; }

  .thirdFeature::before {
    display: none; }

  .fourthFeature::before {
    display: none; }

  .fifthFeature::before {
    display: none; }

  .sixthFeature::before {
    display: none; }

  .secondFeature, .fifthFeature {
    opacity: 0; }

  .infoFeatures {
    position: relative; }

  .tabletTinyOneWrapper {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    left: 0;
    width: 240px; }

  .tabletTinyOneWrapper img {
    width: 240px; }

  .thirdBlock {
    padding: 8% 2% 20% 2%;
    height: 80%;
    /* width: 100vw; */
    background-color: #010101; }

  .imgSpritesFooter {
    display: none; }

  .footerBlock {
    max-width: 940px; } }

/*# sourceMappingURL=tablet.css.map */
