//Footer Block.
///////////////
.footerBlock {
  color: rgba(255, 255, 255, 0.664);
  width: 890px;
  padding-bottom: 8%;
  margin: 0 auto;
}

.footerBlock::before {
  clear: both;
  content:'';
  display: inline-block;
}

.addressBlock {
  width: 18%;
  padding: 0 2%;
  float: left;
  p {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.firstInfoFooterBlock {
  width: 10%;
  margin: 0 5%;
  float: left;
  p {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.secondInfoFooterBlock {
  width: 10%;
  margin: 0 5%;
  float: left;
  p {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.thirdInfoFooterBlock {
  width: 10%;
  margin: 0 5%;
  float: left;
  p {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.fourthInfoFooterBlock {
  width: 10%;
  margin: 0 4%;
  float: left;
  p {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}
